/* 通用样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td {margin:0; padding:0;}
address, caption, cite, code, dfn, em, th, var { font-style:normal;}
ul, li, dl, dd, dt { list-style-type:none;}
img { border:none;}
.clear,.clear_all  { clear:both;}
.clear_all  {height:0px;line-height:0px;font-size:0px;}
.clear:after,.clear_all:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.mtop25{margin-top:25px;}
.left { float:left;}
.right { float:right;}
body{ font-family:"微软雅黑"; font-size:12px; color:#333;}

.app_banner{ width:100%; height:530px; background:url(../images/app_bg.png) repeat-x left top;}
.app_banner1{ width:1400px; height:530px; background:url(../images/app_banner.png) no-repeat center top; position:relative; margin:0px auto;}
.android{ position:absolute; left:580px; top:395px; background:url(../images/android.png) no-repeat left top; width:216px; height:53px;}
.iphone{ position:absolute; left:580px; top:305px; background:url(../images/iphone.png) no-repeat left top; width:216px; height:53px;}
.weixin{ position:absolute; width:169px; height:169px; left:845px; top:295px;}
.weixin_icon{ position:absolute; width:44px; height:44px; left:1018px; top:422px;}

.app_con{ width:700px; height:auto; margin:0px auto; overflow:hidden;}
.app_con dl{width:110px; height:120px; margin:50px 85px 40px 35px; float:left;}
.app_con dl img{ width:78px; height:85px; margin-left:16px;}
.app_con dl dd{ width:110px; height:40px; line-height:40px; text-align:center; font-size:24px; color:#0196ff;}

.app_foot{ width:100%; height:120px; background-color:#f5f5f5; border-top:1px solid #e4e4e4;}
.app_foot1{ width:900px; height:120px; overflow:hidden; margin:0px auto;}
.app_foot1 ul{ width:600px; height:120px; line-height:120px; overflow:hidden; font-size:14px; color:#666; float:left;}
.app_foot1 ul li{ width:85px; float:left;}
.app_foot1 ul li a{ color:#666; text-decoration:none;}
.app_foot1 ul li a:hover{ color:#f00; text-decoration:underline;}
.app_share{ width:200px; float:right; margin:48px 0px 0px 0px;}
